@font-face {
  font-family: Brandon bld;
  src: url('/fonts/Brandon fonts/Brandon_bld.otf')  format('truetype');
 
}
@font-face {
  font-family:Gotham Medium;
  src: url('/fonts/Gotham fonts/Gotham\ Medium.otf')
}

@font-face {
  font-family:Brandon reg;
  src: url('/fonts/Brandon fonts/Brandon_reg.otf')
}

div {
    font-family: myFirstFont;
}

* {
  font-size: 16px;
  box-sizing: border-box;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  background-color: #F6F4EE;
}

h1 {
  font-family: Brandon bld;
  font-size: 36px;
  color: #433A3A
}

h3 {
  font-family: Gotham Medium;
  font-size: 16px;
  line-height: auto;
   color: #BD9492;
}

h4{
  font-family: Gotham Medium;
  font-size: 12px;
  line-height: auto;
  color: #433A3A;
}

li {
  font-family: brandon reg;
  font-size:16px;
  color:#645B5B;
}

span {
  font-family:Gotham Medium;
  font-size:10px;
  line-height: auto;
}

p{
  font-family: brandon reg;
  font-size:16px;
  color:#8E8585;
}
/* Headers */

/* Home Header */
.navcontent h1 {
  font-size: 16px;
}

.navcontent {
  display:none;
}

#Home {
  display:block;
}

.home-header {
  height: 100px;
  width: 100%;
  padding: 5px;
  background:#FFFFFF;
  color: black;
  font-size: 16px;
}

.heading h1 {
  padding-left:10px;
  background-color: #ffffff;
}

.search-wrapper {
  align-items: center;
  background-color: inherit;
}

.search-bar {
  display: flex;
  width: 100%;
  padding: 5px;
  background-color: #FFFFFF;
}

.search-bar input {
  height: 35px;
}

button svg {
  width: 15px;
  background-color: inherit;
}

.searchTerm {
  width: 100%;
  border-right: none;
  border-top: .5px solid  #333333;
  border-right: none;
  border-bottom: .5px solid  #333333;
  border-left: .5px solid #333333;
  padding: 0 20px;
  background-color: #FFFFFF;
  height: 26px;
  
  border-radius: 5px 0 0 5px;
  outline: none;
  color: black;
}

.searchTerm:focus {
  
  color: #333333;
}

.searchButton {
  width: auto;
  height: 35px;
  border: 1px solid back;
  background: white;
  border-top: .5px solid  #333333;
  border-right: .5px solid  #333333;
  border-bottom: .5px solid  #333333;
  border-left: none;
  border-radius: 0px 5px 5px 0px;
  text-align: center;
  color: white;
  cursor: pointer;
}

/* recipe Header */
.recipe-header {
  display: flex;
  flex-direction: column;
  height: auto;
  align-items: center;
  width: 100%;
  padding: 40px 39px;
  background:#FFFFFF;
  color: black;
}

.recipe-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 200px;
  background-color: inherit;
}
.recipe-name h1 {
  font-size: 42px;
  background-color: white;
}

/*                   */
/* main content area */
/*                   */

/* tab */
/* Style the tab */
.top-tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* Style the buttons inside the tab */
.top-tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  width: 50%;
}

/* Change background color of buttons on hover */
.top-tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.top-tab button.active {
  background-color: #ccc;
}

/* Ingredients Tab */

ul {
  padding: 14px;
  list-style-type: none;
}

ul li {
  margin: 5px;
  height: 40px;
  padding: 14px;
  /* background: rgba(218, 218, 218, 0.29); */
}

/* Directions Tab */
.tabcontent {
  display: none;
  padding: 6px;
  border: 1px solid #ccc;
  border-top: none;
}

.hidden {
  display: none;
}

/* recipe-ingredients-con */
.recipe-ingredients-con {
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 422px;
  
}

/* home Container */

.home-con {
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: auto;
  width: 350px;
  padding: 10px;
  margin-top: 400px;
  align-content: center;
}

.home-con   li {
  line-height: 1.5em;
  text-decoration: none;
  padding-top:0px;
  padding-bottom:0px;
  padding-left:0px;
  padding-right:0px;
  margin:0;
}

.home-con h1 {
  font-size: 36px;
  margin-bottom: 0;
}

.home-con h3 {
  color: #9ABC34;
  width:250px;
  margin-bottom:0;
  text-align: center;
}

.home-con ul {
padding-top:25px;
margin-bottom: 0px;
}

.home-null-container {
  align-items: center;
  align-content: center;
  justify-content: center;
  /* max-width: 350px; */
  padding: 0 20px;
}

.home-search-results-container {
  display: flex;
  flex-wrap: wrap;

}

.results-list-con{
  display:flex;
  flex-wrap: wrap;
}

.recipe-container {
  margin: 10px;
  width: 30%;
  flex-grow: 1;
  cursor: pointer;
}

.recipe-container h3 {
color: #433A3A;
}

.recipe-container h3 {
  font-family: Gotham;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.recipe-name {
  background-color: inherit;
}

.recipe-name h1 {
  margin: 0 ;
}

.recipe-photo-box {
  width: 50%;
  height: 200px;
  border: 4px solid violet;
}

.recipe-img   {
  width: 100%;
  height: 100%;
}

.recipe-img img  {
  border-radius: 10px;
}

.time-serving {
  margin-top: 20px;
  background-color: inherit;
}

.time-serving p {
  background-color: inherit;
}

/* favorite Page */
/* Favorite Header */
.fav-header {
  height: 100px;
  width: 100%;
}

.fav-heading h1 {
  font-size: 36px;
  text-align: center;
  padding: 30px;
  background-color: #ffffff;
}

/*  Favorite containers */
.favorite-container {
  align-items: center;
  justify-content: center;
  min-width: 328px;
  padding: 0 20px;
}

.favorites-results-container {
  display: flex;
  flex-wrap: wrap;
}

.fav-con {
  text-align: center;
}

/* Meal Plan Page */
/* Meal PLan Header */

.meal-header {
  height: 100px;
  width: 100%;
}

.meal-heading h1 {
  font-size: 36px;
  text-align: center;
  padding: 30px;
  background-color: #FFFFFF;
}

/* Meal Plan Container*/
.mealPlan-con {
  align-items: center;
  justify-content: center;
  min-width: 328px;
  padding: 0 20px;
}

.mealPlan-results-container {
  display: flex;
  flex-wrap: wrap;
}

.meal-con {
  text-align: center;
}

/* Grocery List Page */
/* Grocery List Header */
.grocery-header {
  height: 100px;
  width: 100%;
}

.grocery-heading h1 {
  font-size: 36px;
  text-align: center;
  padding: 30px;
 background-color: #FFFFFF;
}
/* Grocery List Container */

/* grocery List */
.grocery-list h3 {
  font-size: 26px;
}

.list {
  list-style-type: circle;
  list-style-position: inside;
  padding: 0;
}

.list li {
  font-size: 19px;
  border: solid 1px black;
}

/* Settings Page */
/* Settings Header */
.settings-header {
  height: 100px;
  width: 100%;
}

.settings-heading h1 {
  font-size: 36px;
  text-align: center;
  padding: 30px;
  background-color: #ffffff;
}

.settings-tab {
  margin-top: 50px;
  width: 350px;
}

.settings-tab button {
  background: #FFFFFF;
  border: 1px solid black;
  color: black;
  padding: 10px 24px;
  cursor: pointer;
  width: 100%;
  display: block;
}
.settings-tab button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

.settings-tab button:hover {
  background: #c4c4c4;
}

/* Settings Container */
/* Settings Tabs List */

.settop h1 {
  font-size: 26px;
}

.settings-list {
  list-style-type: circle;
  list-style-position: inside;
  padding: 0;
}

.settings-list li {
  padding: 10px;
  font-size: 19px;
  border: solid 1px black;
}

.allergies-form label {
font-family:Gotham Medium ;
}



/* 
  
/*             */
/* Footer nav  */
/*             */

/* Nav Bar */
.navbar {
  position: fixed;
  display:flex;
  bottom: 0;
  width: 100%;
  background-color: #FFFFFF;
  height: 65px;
}

.navbar button {
  border: none;
}

.Btnwrapper {
  display: flex;
  text-align: center;
  justify-content: space-evenly;
  max-width: 700px;
  margin: 0 auto;
  background-color: #FFFFFF;
}

.Btnwrapper img {
  background-color: transparent;
}

.Btnwrapper h4 {
  background-color: #FFFFFF;
}

.Btn {
  background-color:inherit;
  margin: 0 5px;
}


/* Style the buttons that are used to open navigation bar */
.navbar button {
  background-color:transparent;
}

.Btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Btn h4 {
 margin: 0 auto;
}



#homeBtn {
background-color:#9ABC34;
height:50px;
width:50px;
border-radius: 100px;
}

homeBtn img {
  background-color:transparent;
}


/* Add a color to the active/current link */
/* .navbar button.active {
  background-color: gray;
  color: black;
} */

@media (min-width: 1em) {
}
